
<div class="slider" >

  <ul class="slides">

    <li *ngFor="let event of events">
      <img (show)="isUndefined(event.mediaSet)" [src]="event.mediaSet[0].contentUrl">
      <div class="caption left-align">
        <slider-contect [title]="event.title" [shortText]="event.shortText"></slider-contect>
      </div>
    </li>
  </ul>

  <a class="waves-effect waves-light btn z-depth-0 bold" style="position: absolute;bottom: 0;left: 0;margin-left: 5%;color: #2a2a2a;background: transparent;"><i class="material-icons left" style="-webkit-transform: rotate(180deg);" (click)="next()" >trending_flat</i>prev</a>
  <a class="waves-effect waves-light btn z-depth-0 bold" style="position: absolute;bottom: 0;right: 0;margin-right: 5%;color: #2a2a2a;background: transparent;"><i class="material-icons right" >trending_flat</i>next</a>
</div>
