<div class="row container">
  <div class="col s12">
    <h2 class="header" style="color: #a1a1a1; border-left: 5px solid; border-left-color: #ffc822; padding-left: 1%">{{this.type}}</h2>

    <div class="card horizontal z-depth-4" *ngFor="let event of events">
      <div class="card-image">
        <img (hidden)="isUndefined(event.mediaSet)" [src]="event.mediaSet[0].contentUrl">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h6>
            {{event.title}}
          </h6>
          <p>{{event.shortText}}</p>
        </div>
        <div class="card-action">
          <a href="#"  (click)="$event.preventDefault();onReadMoreClick(event)">Pročitaj više</a>
        </div>
      </div>
    </div>
  </div>
</div>
