<h4 style="color: #a1a1a1; border-left: 5px solid; margin-left: 100px; border-left-color: #ffc822">&nbsp; &nbsp; POPULARNE NOVOSTI</h4>
<div class="" style="overflow: scroll; height: 500px">
<div class="row left-align hepek"  style="width: 10000px; display: inline-block">

  <div class="dizda" style="width: 400px; float: left; margin-left: 50px" *ngFor="let event of events">
    <div class="card z-depth-3" style="min-height: 400px;background-color: #ffffff; top: 50px; min-width: 300px;">
      <div class="card-content" >
        <span class="card-title">{{ event.title }}</span>
        <p class="">{{ event.shortText }}</p>
      </div>
      <div class="card-action" style="bottom: 0;position: absolute; border-top: 0px;">
        <a href="#" style="color: #ffc822" (click)="$event.preventDefault();onReadMoreClick(event)">PROČITAJ VIŠE</a>
      </div>
    </div>
  </div>
</div>
</div>

