<footer class="page-footer" style="background-color: #2a2a2a">
  <div class="container">
    <img src="../../../black_steleks.png">
    <div class="row">
      <!--<div class="col s6">-->
        <ul class="col s3">
          <li><h6 style="color: #a1a1a1;">Predsjednik:</h6></li>
          <li><h6 style="color: white;">Suad Krilašević</h6></li><br>
          <li><h6 style="color: #a1a1a1;">Potpredsjednik:</h6></li>
          <li><h6 style="color: white;">Fuad Hajdarević</h6></li><br>
          <li><h6 style="color: #a1a1a1;">Sekretar:</h6></li>
          <li><h6 style="color: white;">Amina Džebo</h6></li><br>
        </ul>
        <ul class="col s3">
          <li><h6 style="color: #a1a1a1;">Članovi upravnog odbora:</h6></li>
          <li><h6 style="color: white;">Ema Hujić</h6></li>
          <li><h6 style="color: white;">Amra Rašidagić</h6></li>
          <li><h6 style="color: white;">Edin Avdić</h6></li>
          <li><h6 style="color: white;">Amina Aljević</h6></li>
        </ul>
      <ul class="col s3">
        <li><h6 style="color: #a1a1a1;">Broj telefona:</h6><h6 style="color: #ffc822;">+387 33 250-749</h6></li>
        <li><h6 style="color: #a1a1a1;">Email:</h6><h6 style="color: #ffc822;">steleks.ba@gmail.com</h6></li>
        <li><h6 style="color: #a1a1a1;">Email:</h6><h6 style="color: #ffc822;">steleks@etf.unsa.ba</h6></li>
      </ul>
      <!--</div>-->
      <div class="col s12 divider"></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Ensar Sarajčić & Dino Dizdarević
    </div>
  </div>
</footer>
