
<div class="row container">
  <h1>{{event.title}}</h1>
  <div class="carousel carousel-slider initialized" id="div">
    <p class="center-align">1/{{event.mediaSet.length}}</p>
    <a class="carousel-item" id="tempD"><img src="{{preLoad}}"></a>
    <div *ngFor="let media of event.mediaSet; let i = index">
      <a *ngIf="i!=0" class="carousel-item" [id]="i" ><img [src]="media.contentUrl">
      </a>
      <p class="center-align" style="bottom: 0%;">1/{{event.mediaSet.length}}</p>
    </div>
</div>
  <div class="col s12 divider" style="color: #181818"></div>
  <p>{{event.longText}}</p>
</div>
