
<div class="row container">
  <h1 style="color: #a1a1a1; border-left: 5px solid; border-left-color: #ffc822; padding-left: 1%">{{event.title}}</h1>
  <div class="carousel carousel-slider z-depth-3" id="div">
    <a class="carousel-item" id="tempD"><img src="{{preLoad}}"></a>
    <div *ngFor="let media of event.mediaSet; let i = index">
      <a *ngIf="i!=0" class="carousel-item" [id]="i" >
        <img [src]="media.contentUrl">
      </a>
    </div>
</div>
  <div class="col s12 divider" style="color: #181818"></div>
  <p class="z-depth-3" style=" padding: 1%;">{{event.longText}}</p>
</div>
