<div class="row">
  <div class="col s4 pull-s1" >
    <div class="card " style="min-height: 450px;background-color: #2a2a2a; background: rgba(18, 18, 18, 0.7);">
      <div class="card-content white-text" style="opacity: 1">
        <span class="card-title">Naslov</span>
        <p class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
        </p>
      </div>

      <a class="waves-effect waves-light  btn-large z-depth-0 card-button"><a style="color: white">Pročitaj više</a></a>

    </div>
  </div>
</div>
