<div class="row">
<div class="col s6 push-s3 z-depth-5" style="margin-top: 10%;margin-bottom: 15%; min-height: 450px; background: #2a2a2a">
  <form class="" style="display: block">
      <div class="input-field col s10 push-s1" style="margin-top: 20%;" >
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>

      <div class="input-field col s10 push-s1">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>

    <a class="waves-effect waves-light btn" style="background: #ffc822; color: #2a2a2a; float: right; margin-right: 10%; margin-top: 5%">Prijavi se</a>

  </form>
</div>
</div>
