<div class="row">
  <div class="col s4 pull-s1" >
    <div class="card " style="min-height: 400px;background-color: #2a2a2a; background: rgba(42, 42, 42, 0.7); top: 50px">
      <div class="card-content white-text" style="opacity: 1">
        <span class="card-title">Naslov</span>
        <p class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
        </p>
      </div>
      <!--<div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>-->
    </div>
  </div>
</div>
