<h4 style="color: #a1a1a1; border-left: 5px solid; margin-left: 50px; border-left-color: #ffc822">&nbsp; &nbsp; DEŠAVANJA</h4>

<div class="row">
  <div class="col s5 push-s1">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/office.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>

<div class="col s5 push-s1">
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

<div class="col s5 push-s1">
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>
